@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts" as *;

.assetlist {
    @include page-padding;

    &__asset {
        padding: 0;
    }

    &__title {
    color: $darkblue;
    }

    &__link {
        text-decoration: none;
    }

    &__item {
        list-style-type: none;
    }

    &__details {
        position: relative;
    }
    
    &__details--not-selected {
        display: none;
    }
}