@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts" as *;

.assetlist {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 0.5rem;
  padding: 1vw 5vw;
  margin: 5vw;
  box-shadow: 0 2px 16px $darkblue;

  @include tablet {
    padding: 2.5vw 5vw;
    margin: 8vw;
  }

  @include desktop {
    padding: 4vw 8vw;
    margin: 8vw 15vw;
  }

  &__report {
    align-self: flex-end;
    width: 40%;
    border-radius: 0.625rem;
    border: none;
    background-color: rgb(161, 195, 10);
    padding: 0.3rem 0rem;
    font-size: 0.7rem;

    @include tablet {
      width: 25%;
      padding: 0.3rem 0.2rem;
    }
  }

  &__title-container {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
  }

  &__asset {
    padding: 0;
  }

  &__title {
    color: $darkblue;
  }

  &__link {
    text-decoration: none;
  }

  &__item {
    list-style-type: none;
  }

  &__details {
    position: relative;
  }

  &__details--not-selected {
    display: none;
  }
}
