@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts" as *;

.button {
    width: 50%;
    height: 2rem;
    border: 1px solid $darkblue;
    border-radius: 2rem;
    background-color: $darkblue;
    color: $lightgray;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.15s;

    @include tablet {
      width: 9.5%;
      height: 2.4rem;
      margin-right: 0;
    }

    @include desktop {
      width: 6.5%;
    }

    &:hover {
        color: $white;
    }
}