// color variables
$black: #101427;
$gray: rgb(118, 117, 117);
$lightgray: rgb(201, 201, 201);
$white:#FFFFFF;
$blue: rgb(48, 149, 212);
$lightblue: rgb(245, 249, 255);
$darkblue: rgb(30, 54, 84);

//responsiveness breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;