// color variables
$black: #101427;
$gray: rgb(118, 117, 117);
$lightgray: rgb(201, 201, 201);
$white:#FFFFFF;
$blue: rgb(48, 149, 212);
$lightblue: #f5f9ff;
$darkblue: #1e3654;

//responsiveness breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;