@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts" as *;

.asset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px rgb(37, 116, 165, 0.3) solid;
  padding: 2.5vw 0 2.5vw 0.5vw;

  &__left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2.5vw 0;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__field-container {
    width: 100%;
    display: flex;
    // justify-content: space-between;
    gap: 3rem;
  }

  &__field {
    display: flex;
    align-items: baseline;
    gap: 1rem;
  }

  &__label {
    color: $gray;
    font-size: 0.72rem;
    font-weight: 700;
  }

  &__text {
    font-size: 0.72rem;
    margin: 0;
    color: $darkblue;
  }
}
