@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts" as *;

.add {
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem 1rem 2rem 1rem;
  width: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 5px $darkblue;
  border-radius: 3px;

  &__title {
    font-size: 1.5rem;
    padding-left: 0.4rem;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__form {
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  &__form-container {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item-details {
    display: flex;
    flex-direction: column;
    padding: 0.7rem 1.2rem 0.5rem 1.2rem;

    @include tablet {
      width: 50%;
      padding: 1.35rem 2rem 0.5rem 2rem;
    }

    @include desktop {
      padding: 1.35rem 2.5rem 0 2.5rem;
    }
}

&__label {
    font-size: 0.7rem;
    font-weight: 600;
    padding-bottom: 0.2rem;

    @include tablet {
      font-size: 0.85rem;
      padding-bottom: 0.5rem;
    }

    @include desktop {
      font-size: 0.9rem;
    }
  }

  &__input {
    border: solid 1px $gray;
    border-radius: 10px;
    margin-bottom: 4vw;
    height: 2rem;
    color: $black;
    font-size: 0.75rem;
    padding: 0 0.5rem;

    @include tablet {
      height: 2.4rem;
      font-size: 0.9rem;
      padding: 0 0.85rem;
      margin-bottom: 3.4vw;
    }

    @include desktop {
      padding: 0 0.95rem;
      margin-bottom: 2vw;
    }
  }

  &__textarea {
    border: solid 1px $gray;
    border-radius: 20px;
    margin-bottom: 4vw;
    height: 6.5rem;
    resize: none;
    overflow: hidden;
    color: $black;
    font-size: 0.75rem;
    padding: 0.4rem 0.8rem 0 0.8rem;

    @include tablet {
      margin-bottom: 3.4vw;
      height: 7.5rem;
      font-size: 0.88rem;
      padding: 0.4rem 0.85rem 0 0.85rem;
    }

    @include desktop {
      padding: 0.4rem 0.95rem 0 0.95rem;
      margin-bottom: 2.1vw;
    }
  }

  &__field-container {

    @include tablet {
    display: flex;
    gap: 5rem;
    align-items: baseline;
    }
  }


  &__buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
    margin-top: 0;

    @include tablet {
      width: 100%;
      justify-content: flex-end;
      padding: 0.6rem 2rem 0.8rem 1.2rem;
    }

    @include desktop {
      padding: 1.1rem 2.5rem 0.8rem 1.2rem;
    }
  }

  &__button {
    width: 50%;
    height: 2rem;
    border: 1px solid $darkblue;
    border-radius: 2rem;
    background-color: $darkblue;
    color: $lightgray;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.15s;

    @include tablet {
      width: 9.5%;
      height: 2.4rem;
      margin-right: 0;
    }

    @include desktop {
      width: 6.5%;
    }

    &:hover {
        border-color: green;
        color: green;
        background-color: $white;
    }
  }
  &__button--cancel {
    background-color: $white;
    border: 1px solid $gray;
    color: $gray;
    margin-right: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: 11%;
    }

    @include desktop {
      width: 7.5%;
    }

    &:hover {
      border-color: red;
      color: red;
      background-color: $white;
    }
  }

  &__link {
    text-decoration: none;
  }
}