@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts" as *;

.add {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10vw 5vw;
  padding: 0.5rem;
  width: auto;
  border-radius: 5px;
  box-shadow: 0 2px 16px $darkblue;
  border-radius: 0.5rem;

  @include tablet {
    padding: 2.5vw 1.5vw;
    margin: 8vw 10vw;
  }

  @include desktop {
    padding: 5vw 3vw;
    margin: 8vw 15vw;
  }

  &__title {
    font-size: 1.5rem;
    padding-left: 0.4rem;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__form {
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  &__form-container {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item-details {
    display: flex;
    flex-direction: column;
    padding: 0.7rem 1.2rem 0.5rem 1.2rem;

    @include tablet {
      width: 50%;
      padding: 1.35rem 2rem 0.5rem 2rem;
    }

    @include desktop {
      padding: 1.35rem 2.5rem 0 2.5rem;
    }
  }

  &__label {
    font-size: 0.75rem;
    font-weight: 600;
    padding-bottom: 0.2rem;

    @include tablet {
      font-size: 0.85rem;
      padding-bottom: 0.5rem;
    }

    @include desktop {
      font-size: 0.9rem;
    }
  }

  &__input {
    border: solid 1px $gray;
    border-radius: 0.625rem;
    margin-bottom: 5vw;
    color: $darkblue;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;

    &::placeholder,
    &:valid {
      color: $gray;
      font-family: montserrat;
      font-weight: 400;
      font-size: 0.75rem;

      @include desktop {
        font-size: 0.85rem;
      }
    }

    @include tablet {
      margin-bottom: 4vw;
      font-size: 0.9rem;
    }

    @include desktop {
      margin-bottom: 3vw;
      font-size: 1rem;
    }
  }

  &__textarea {
    border: solid 1px $gray;
    border-radius: 0.625rem;
    margin-bottom: 4vw;
    resize: none;
    overflow: hidden;
    color: $black;
    font-size: 0.75rem;
    padding: 0.4rem 0.8rem 0 0.8rem;

    &::placeholder,
    &:valid {
      color: $gray;
      font-family: montserrat;
      font-weight: 400;
      font-size: 0.75rem;

      @include desktop {
        font-size: 0.85rem;
      }
    }

    @include tablet {
      margin-bottom: 3.4vw;
      font-size: 0.88rem;
      padding: 0.4rem 0.85rem 0 0.85rem;
    }

    @include desktop {
      padding: 0.4rem 0.95rem 0 0.95rem;
      margin-bottom: 2.1vw;
    }
  }

  &__field-container {
    @include tablet {
      display: flex;
      gap: 5rem;
      align-items: baseline;
    }
  }

  &__buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
    margin-top: 0;

    @include tablet {
      width: 100%;
      padding: 0.6rem 2rem 1.5rem 1.2rem;
    }

    @include desktop {
      padding: 1.1rem 2.5rem 1.5rem 1.2rem;
    }
  }

  &__button {
    color: $lightgray;
    text-align: center;
    width: 40%;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 1rem 0 0 0;
    padding: 0.3rem 0.7rem;
    background-color: $darkblue;
    border-radius: 0.625rem;
    border: 1px solid $darkblue;
    cursor: pointer;
    transition: background-color 0.15s;

    @include tablet {
      padding: 0.5rem 1rem;
      margin-right: 0;
      font-size: 0.75rem;
      width: 30%;
    }

    @include desktop {
      font-size: 0.8rem;
      width: 25%;
    }

    &:hover {
      border-color: green;
      color: green;
      background-color: $white;
    }
  }
  &__button--cancel {
    background-color: $white;
    border: 1px solid $gray;
    color: $gray;
    margin-right: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: 30%;
    }

    @include desktop {
      width: 25%;
    }

    &:hover {
      border-color: red;
      color: red;
      background-color: $white;
    }
  }

  &__link {
    text-decoration: none;
  }
}
