@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts" as *;

.input-field {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 2vw;
    text-align: left;
    font-size: 0.8rem;

    @include tablet {
        font-size: 0.9rem;
    }

    @include desktop {
      margin-bottom: 1.5vw;
    }
  }

  &__input {
    margin-bottom: 5vw;
    color: $darkblue;
    border: 1px solid $lightgray;
    border-radius: 0.625rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;

    @include tablet {
      margin-bottom: 4vw;
        font-size: 0.9rem;
    }

    @include desktop {
      margin-bottom: 3vw;
    }

    &::placeholder {
      font-size: 0.8rem;

      @include tablet {
        font-size: 0.9rem;
      }
    }
  }
}
