@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.search {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px $black solid;
  border-radius: 5px;
  height: 30px;

  &__input {
    width: 100%;
    border: none;
  }

  &__img {
    width: 20%;
  }
}
