@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts" as *;

.footer {
  background-image: url(../../assets/water-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;

  &__link {
    text-decoration: none;
  }

  &__title {
    text-align: left;
    padding-left: 5vw;
    margin: 5vw 0 10vw 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: $white;

    @include tablet {
      font-size: 1.5rem;
      padding-top: 1vw;
    }

    @include desktop {
      padding-top: 0.5vw;
      font-size: 1.8rem;
    }
  }

  &__text {
    align-self: flex-end;
    margin: 0;
    margin-top: 5vw;
    padding: 15.7vw 3vw 2.7vw 0;
    font-size: 0.48rem;
    font-weight: 400;
    color: $white;

    @include tablet {
      padding: 9vw 4vw 1.5vw 0;
      font-size: 0.7rem;
    }
    @include desktop {
      padding: 7.2vw 4vw 1.8vw 0;
      font-size: 0.8rem;
    }
  }
}
